/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: rgb(102, 100, 100);
    --secondary: rgb(228, 187, 187);
    --black: black;
}

body {
    max-width: 100%;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
}

/* login */

.all-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.photo-login {
    width: 80px;
    margin-bottom: 10px;
}

.login-left,
.login-right {
    width: 100%;
    /* text-align: center; */
}

.sub-left{
    max-width: 330px;
    margin: 50px auto;
    /* justify-content: center; */
}

.form-login {
    margin-top: 30px;
}

input {
    width: 100%;
    max-width: 330px;
    margin-bottom: 10px;
    padding: 3px;
}

.forgot-pass {
    font-size: 14px;
    text-align: right;
    /* margin-right: 165px; */
}

.btn-login {
    margin-top: 10px;
    color: white;
    background-color: #1b3687;
    font-size: 18px;
    border-radius: 5px;
    padding: 7px;
    border: none;
    cursor: pointer;
}

.btn-login:hover {
    background-color: white;
    color: #1b3687;
    border: 2px solid #1b3687;
}

.register {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
}

.register-link,
.forgotpass-link {
    color: black;
    text-decoration: none;
}

.login-right {
    background-color: #1b3687;
    background-image: url("../images/pattern.png");
    background-size: cover;
    width: 100%;
    text-align: center;
}

video {
    width: 80%;
    height: 50vh;
    /* max-width: 600px; */
}

/* Media queries for responsiveness */

@media screen and (min-width: 768px) {
    .all-login {
        flex-direction: row;
    }

    .login-left {
        width: 50%;
        margin-top: 0;
    }

    .sub-left{
        margin: auto;
    }

    .login-right {
        width: 50%;
        height: auto;
        background-image: url("../images/pattern.png");
        background-size: cover;
    }

    video {
        max-width: none;
        height: 100vh;
    }
}
