*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary: rgb(102, 100, 100);
    --secondary: rgb(228, 187, 187);
    --black: black;
}

body{
    max-width: 100%;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
}

/*product*/

.catalog{
    margin-top: 30px;
    text-align: center;
}

.row{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.product-1, .product-2, .product-3, .product-4,
.product-5, .product-6,.product-7, .product-8 {
    width: 225px;
    /* border: 2px solid black; */
    border-radius: 10px;
    margin:  10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding-bottom: 15px;
    transition: transform 2s; 
}

.photo-product{
    width: 225px;
    border-radius: 10px 10px 0px 0px;
}

.title-product{
    margin-left: 10px;
    margin-top: 10px;
}

.price{
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.btn-product{
    text-decoration: none;
    background-color: var(--secondary);
    margin-left: 10px;
    /* margin-top: 10px; */
    padding: 5px;
    border-radius: 5px;
    color: black;
    cursor: pointer;
}

.product-1:hover, .product-2:hover, .product-3:hover, .product-4:hover,
.product-5:hover, .product-6:hover, .product-7:hover, .product-8:hover{
    /* opacity: 0.7; */
    transform: scale(1.1);
}